@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

body{
    background: #6495ed;
}

.bd-example-row{
    margin-top: 60px;
}

.bd-example-row .row>.col, .bd-example-row .row>[class^=col-] {
    padding-top: .75rem;
    padding-bottom: .75rem;
    background-color: rgba(86,61,124,.15);
    border: 1px solid rgba(86,61,124,.2);
}

.bd-example-row .container {
    width: 458px;
}

.item-col{
    height: 0;
    padding: 0;
}

.item-row{
    display: block;
    margin-left: 0;
    margin-right: 0;
    position: absolute;
}

.item-row:nth-child(2) {
    left: 20.5%;
    top: 22.4%;
}

.item-row:nth-child(3) {
    left: 28.5%;
    top: 41.4%;
}

.item-row:nth-child(4){
    left: 36.5%;
    top: 60.4%;
}

.item-row:nth-child(5){
    left: 44.5%;
    top: 79.9%;
}

.staircase{
    position: relative;
    height: 230px;
}

.staircase.normal{
    left: 10.3%;
    margin-bottom: -9.3%;
}

.staircase.flipped{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    right: 10.3%;
    margin-bottom: -9.3%;
}

.staircase.flipped .cube:before,
.staircase.flipped .cube-extended:before{
    background-color: #ffead0;
}

.staircase.flipped .cube:after,
.staircase.flipped .cube-extended:after{
    background-color: #d8c7b1;
}

/* ----------------------------
   STAIRCASE PERSPECTIVE */

.perspective {
    background-size: 3em 3em;
    left: 0;
    padding-left: 38px;
    padding-top: 26px;
    top: 50%;
    -webkit-transform: rotateX(65deg) rotateZ(45deg);
    -webkit-transform-style: preserve-3d;
}

.cube,
.cube:after,
.cube:before {
    /*box-shadow: inset 0 0 0 .25em hsla(0,0%,0%,.1);*/
    content: '';
    /*float: left;*/
    height: 7em;
    position: absolute;
    width: 3em;
}

/* TOP */
.cube {
    background-color: #ffffff;
    position: relative;
    -webkit-transform: translateZ(3em);
    -webkit-transform-style: preserve-3d;
    -webkit-transition: .25s;
}

/* LEFT */
.cube:after {
    background-color: #ffead0;
    -webkit-transform: rotateX(-90deg) translateY(7em);
    -webkit-transform-origin: 24% 350%;
    height: 2em;
}

/* RIGHT */
.cube:before {
    background-color: #d8c7b1;
    -webkit-transform: rotateY(90deg) translateX(3em);
    -webkit-transform-origin: 150% 0;
    width: 2em;
}

/*--- PLATFORM ---*/

.cube-extended,
.cube-extended:after,
.cube-extended:before {
    /*box-shadow: inset 0 0 0 .25em hsla(0,0%,0%,.1);*/
    content: '';
    /*float: left;*/
    height: 7em;
    position: absolute;
    width: 7em;
}

/* TOP */
.cube-extended {
    background-color: #ffffff;
    position: relative;
    -webkit-transform: translateZ(3em);
    -webkit-transform-style: preserve-3d;
    -webkit-transition: .25s;
}

/* LEFT */
.cube-extended:after {
    background-color: #ffead0;
    -webkit-transform: rotateX(-90deg) translateY(7em);
    -webkit-transform-origin: 24% 350%;
    height: 2em;
}

/* RIGHT */
.cube-extended:before {
    background-color: #d8c7b1;
    -webkit-transform: rotateY(90deg) translateX(6.9em);
    -webkit-transform-origin: 347% 0;
    width: 2em;
}